@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

hr {
  margin: 1px !important;
}

#header-container {
  padding-bottom: 50px;
  margin: 0;
  max-width: 100vw;
  background-image: linear-gradient(
    175deg,#013e70,#2e7dbd 60%,#a9d3f5);
}

.navbar {
  height: 82px;
}

.navbar-nav {
  align-items: center;
}

.main-section {
  background-color: white;
  margin-top: -50px;
  border-radius: 50px 0 0 0;
  padding: 0px;
}

.navbar-link {
  color: white !important;
  text-decoration: none;
}

.navbar-title {
  font-size: 22px;
  text-decoration: none;
}

.navbar-link:hover {
  color: rgb(190, 190, 190) !important;
}

.navbar-profile-icon {
  margin-top: -1px;
  margin-left: -1px;
  font-size: 36px;
  color: white;
  background-color: transparent;
  border-radius: 50px;
  border: 0;
}
.navbar-profile-icon:hover {
  color: white;
  background-color: grey;
}

.navbar-profile-icon-container {
  border-radius: 40px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 3px solid black;
  padding: 0 !important;
}

.navbar-profile-icon-container:hover {
  border: 3px solid black;
}



/* HOME HERO SECTION */



.form-container {
  background-color: white;
  height: 70px;
  display: flex;
  border-radius: 50px;
  align-items: center;
}


#home-form-button {
  width: 100%;
  border-radius: 50px !important;
  background-color: black !important;
  border: 0 !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#home-form-button:hover {

  background-color: #013e70 !important;
  border: 0 !important;
  color: white;
}

.home-select {
  border: 0 !important;
  box-shadow: none !important;
}

.home-hero-container{
  padding: 80px 0 160px 0;
  max-width: 700px !important;
}

.hero-header-container, .hero-subheader-container {
  padding: 10px 0;
  text-align: center;
}

.hero-form-container {
  padding: 20px 0;
}

.form-select:disabled {
  background-color: transparent !important;
  color: lightgrey !important;
}


.col-md {
  padding: 8px !important;
}

.form-button {
  width: 100%;
  height: 54px;
  border-radius: 50px !important;
  border: 0 !important;
  background-color: black !important;
  color: white;
}

/* .home-hero-image-container {
  display: flex;
  justify-content: center;
  
} */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-hero-image {
  justify-content: center;
  max-width: 800px;
  width: 100%;
  margin-top: -130px;
}

.home-section-1 {
  padding-top: 110px !important;
  /* margin-top: 75px; */
}

.fourteen-day-image {
  width: 90%;
}

@media screen and (min-width: 992px) {
  .offcanvas-navbar {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .main-navbar {
    display: none !important;
  }
}



/* FIND VEHICLES */

.filters-container {
  border-radius: 100px 0 0 0;
  flex: none !important;
  width: 300px !important;
  background-color: white;
  height: 100vh;
  margin-top: 0px !important;
  padding: 0 !important;
}

.vehicles-title {
  display: flex;
}

.filters-container.sticky {
  top: 0 !important;
  margin-top: 0px !important;
  position: absolute;
}

.accordion-item {
  padding: 5px;
  border: 0 !important;
  border-top: 1px solid rgba(0,0,0,.125) !important;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

@media screen and (max-width: 991px) {
  .filters-container {
    display: none !important;
  }
}
@media screen and (min-width: 992px) {
  .filters-offcanvas {
    display: none !important;
  }
}

/* * CAR CARDS */

.car-card {
  border-radius: 30px !important;
  border: 0 !important;
  box-shadow: 2px 2px 5px 5px #e1e1e1;
}

.car-card-image-container { 
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.car-card-body {
  color: black;
}

.car-card-tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0 !important;
}

.car-card-tags {
  background-color: lightgray;
  border-radius: 50px;
  padding: 2px 10px;
  margin: 2px 3px;
}

.car-card-text {
  margin: 0;
}

#car-card-price {
  font-size: 28px;
  text-align: center;
  color: #013e70 !important;
  text-decoration: none !important;
}


.box {
  position: relative;
  max-width: 600px;
  width: 90%;
  /* height: 400px; */
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}


/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}




/* VEHICLE SHOW */
.react-multi-carousel-list {
  height: 380px;
  border-radius: 50px 0 0 0;
}

.react-multi-carousel-track {
  height: 100%;
}

.react-multi-carousel-item{
  height: 100% !important;
}

.vehicle-image-background {
  height: 100% !important;
  width: 100% !important;
  background-size: cover !important;
  background-position: center;
}

.vehicle-show-main-container{
  margin-top: 80px;
}

.vehicle-show-buy-now-container{
  margin-top: 20px;
  background-color: #e8f5ff;
  border-radius: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.payment-tabs {
  background-color: white;
  width: 100%;
  padding: 10px !important;
  border-radius: 50px;
}

.nav-item {
  width: 50%;
}


#car-show-payment-options-tab-payInFull.active, #car-show-payment-options-tab-payMonthly.active {
  width: 100%;
  background-color: black !important;
  height: 60px;
  border-radius: 50px;
  color: white;
  z-index: 99;
}

#car-show-payment-options-tab-payInFull, #car-show-payment-options-tab-payMonthly {
  width: 100%;
  height: 60px;
  border-radius: 50px;
  color: black;
}

#car-show-payment-options-tab-payMonthly:disabled {
  width: 100%;
  background-color: white;
  height: 60px;
  border-radius: 50px;
  color: lightgrey;
}

#car-show-payment-options-tabpane-payInFull {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pay-in-full-price {
  font-size: 40px;
}

.pay-in-full-paragraph {
  margin: 0 !important;
}

.pay-in-full-button {
  margin-top: 30px;
  width: 100%;
  border-radius: 50px !important;
  height: 50px;
  background-color: #013e70 !important;
  border: 0 !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.pay-in-full-button:hover {

  background-color: black !important;
  border: 0 !important;
  color: white;
}

.car-show-buy-guarentees {
  margin-top: 20px;
  background-color: #e8f5ff;
  border-radius: 30px;
  padding: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin-bottom: 20px;
}

.list-group {
  width: 100%;
}
.list-group-item {
  text-align: center;
  background-color: transparent !important;
}


.car-show-part-exchange{
  background-color: transparent;
  border: 1px solid lightgrey;
  border-radius: 30px;
  padding: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.part-exchange-form {
  margin-top: 20px;
  width: 80%;
}

.part-exchange-button {
  margin-top: 10px;
  width: 100%;
  border-radius: 50px !important;
  height: 50px;
  background-color: #013e70 !important;
  border: 0 !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.part-exchange-button:hover {
  color: white;
  background-color: black !important;
  border: 0 !important;
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-container p {
  margin: 0 !important;
  padding: 5px 0;
}

.car-show-details-container{
  margin-top: 80px !important;
}

.details-separator{
  height: 3px !important;
  color: #013e70;
  opacity: 1;
}

.accordion-item:first-of-type {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top: 3px solid #013e70 !important;
  /* color: ; */
  /* opacity: 1; */
}



/* VEHICLE SIDEBAR */

.filters-offcanvas {
  width: 50%;
  background-color: transparent !important;
  color: black !important;
  text-align: left !important;
  border: 2px solid #013e70 !important;
}

.current-filter-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
}

.current-filters {
  background-color: lightgrey;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
}

.current-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}

.remove-filter {
  padding: 0px !important;
  margin-left: 10px;
}


/* * SELL YOUR CAR */

.sell-decision-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sell-decision-title {
  text-align: center;
  font-size: 20px !important;
  font-weight: 300;
}

.sell-decision-subtitle {
  text-align: center;
  font-size: 28px !important;
}

.sell-car-decision-container {
  margin-top: 50px;
  background-color: #e8f5ff;
  padding: 40px 20px !important;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sell-car-decision-title {
  text-align: center;
  font-size: 28px;
}

.sell-car-decision-subtitle {
  text-align: center;
  font-size: 18px;
}

.sell-car-decision-list {
  margin: 10px 0px !important;
  max-width: 300px;
}

.sell-car-decision-list .list-group-item {
  border: 0 !important;
  text-align: left;
}

.sell-car-decision-space {
  height: 50px;
}

.instant-offer-image-container {
  margin-top: -50px;
  margin-left: -50px !important;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;

}
.place-advert-image-container {
  margin-top: -50px;
  margin-left: 50px !important;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;

}

.instant-offer-image {
  width: 100%;
}

.sell-car-decision-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  width: 80%;
  border-radius: 50px !important;
  height: 50px;
  background-color: #013e70 !important;
  border: 0 !important;
}

.sell-car-decision-button:hover {
  color: white;
  background-color: black !important;
  border: 0 !important;
}



/* * Place Advert */

.place-advert-step {
  display: flex;
  align-items: center;
}

.place-advert-number-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid black;
}

.place-advert-title {
  margin: 0 0 0 20px;
}

.place-advert-find-car-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  width: 100%;
  border-radius: 50px !important;
  height: 50px;
  background-color: #013e70 !important;
  border: 0 !important;
}

.place-advert-find-car-button:hover {
  color: white;
  background-color: black !important;
  border: 0 !important;
}

form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

.place-advert-form .form-select:disabled {
  background-color: #e9ecef !important;
  opacity: 1 !important;
  color: black !important;
}


/* * BUY CAR */

.buy-car-vehicle-card {
  border: 2px solid#013e70;
  border-radius: 50px;
}


/* * Profile Nav */

.profile-hero-container {
  display: flex;
  justify-content: center;
  padding: 0 !important;
}
.profile-hero-container .row {
  max-width: 1200px;
  width: 100%;
  align-items: center
}
.profile-hero-container .row .col {
  align-items: center;
  width: 50%;
  display: flex;
}

.profile-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profile-form-container {
  height: auto;
  padding: 0px !important;
  margin: 10px 0;
  
}
.profile-form-container-row {
  height: auto;
  padding: 10px !important;
  border-radius: 30px !important;
}

.profile-form-container div {
  margin: 5px 0;
}


#profile-logout-button {
  margin-top: 10px;
  width: 200px;
  border-radius: 50px !important;
  height: 50px;
  background-color: black !important;
  border: 0 !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#profile-logout-button:hover {

  background-color: #013e70 !important;
  border: 0 !important;
  color: white;
}